<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<servlet>
	<servlet-name>ServletAccueil</servlet-name>
	<servlet-class>fr.jemat.servlet.ServletAccueil</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ServletAccueil</servlet-name>
	<url-pattern>/accueil</url-pattern>
</servlet-mapping>

// declaration pour les fichiers JSPL

<jsp-config>
	<jsp-property-group>
		<url-pattern>*.jsp</url-pattern>
		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
	</jsp-property-group>
</jsp-config>

</web-app>

</element>